extends ../partials/head
block content
  .brand-wrapper
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      i.fas.fa-home
    .language-change-wrapper
      a.language-text(href="/auth/lost_password?lang=tr") TR
      span |
      a.language-text(href="/auth/lost_password?lang=en") EN
  form.all-wrapper(method="POST" action=`/auth/change_password?email=${email}&code=${code}` + (language_key ? ('&lang=' + language_key) : ''))
    .all-inner-wrapper
      span.logo-name usersmagic
      input.each-input(type="password" placeholder=__('Şifre') name="password" required autocomplete="off")
      input.each-input(type="password" placeholder=__('Şifre Tekrarı') name="password_confirm" required autocomplete="off")
      button.send-button
        span #{__('Şifreyi değiştir')}
      if error && error == "bad request"
        span.error-text= __('Lütfen gerekli bütün bilgileri girin')
      else if error && error == "unknown"
        span.error-text= __('Bilinmeyen bir hata oluştu, lütfen daha sonra tekrar deneyin')
      else if error && error == "short password"
        span.error-text= __('Yeni şifreniz en az 6 haneli olmalıdır')
      else if error && error == "confirm password"
        span.error-text= __('Lütfen yeni şifrenizi tekrarlayın')
      else if error && error == "late request"
        span.error-text= __('Şifre değiştirme talebiniz 1 saati geçmiş durumda. Lütfen yeni bir şifre değiştirme talebinde bulunun')
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
