extends ../partials/head
block content
  input.display-none#countries(type="text" value=JSON.stringify(countries.map(country => {return { alpha2_code: country.alpha2_code, phone_code: country.phone_code }})))
  input.display-none#genders(type="text" value=JSON.stringify(genders))
  .brand-wrapper
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      img(src="/res/images/logo.png" alt="usersmagic tester")
    .language-change-wrapper
      a.language-text(href="/auth/complete?lang=tr") TR
      span |
      a.language-text(href="/auth/complete?lang=en") EN
  form.all-wrapper.complete-form
    .all-inner-wrapper
      span.logo-name usersmagic
      input.general-input-with-border#name-input(type="text" placeholder=__('Full Name') autofocus autocomplete="off")
      .general-drop-down-list-outer-wrapper(style="z-index: 5;")
        .general-drop-down-list-wrapper(style="z-index: 5;")
          input.general-drop-down-list-input#country-visible-input(type="text" autocomplete="none" placeholder=__('Country'))
          input.general-drop-down-list-input-not-visible#country-input(type="text")
          input.general-drop-down-list-items-json(type="text" value=JSON.stringify(countries.map(country => { return {name: __(country.name), id: country.alpha2_code} })))
          .general-drop-down-choices-wrapper
            each country in countries
              span.general-drop-down-list-each-item(id=country.alpha2_code)= __(country.name)
      label.phone-code-input-wrapper
        span.phone-code#phone-code +0
        input.phone-code-input#phone-input(type="text" placeholder=__('Phone Number'))
      .general-drop-down-list-outer-wrapper(style="z-index: 4;")
        .general-drop-down-list-wrapper(style="z-index: 4;")
          input.general-drop-down-list-input#gender-visible-input(type="text" autocomplete="none" placeholder=__('Gender'))
          input.general-drop-down-list-input-not-visible#gender-input(type="text")
          input.general-drop-down-list-items-json(type="text" value=JSON.stringify(genders.map(gender => { return {name: __(gender.name), id: gender.id} })))
          .general-drop-down-choices-wrapper
            each gender in genders
              span.general-drop-down-list-each-item(id=gender.id)= __(gender.name)
      input.general-input-with-border#birth-year-input(type="number" placeholder=__('Birth Year') autocomplete="off" min="1920" max="2020")
      button.general-seablue-button
        span #{__('Continue')}
      span.error-text#bad-request-error #{__('Please write your name, phone number, birth year and choose your country and gender')}
      span.error-text#country-error #{__('The country you wrote is not recognized. Please choose one from the list')}
      span.error-text#gender-error #{__('The gender you wrote is not recognized. Please choose one from the list')}
      span.error-text#phone-error #{__('The phone number you wrote is not valid')}
      span.error-text#network-error #{__('Please check your internet connection and try again')}
      span.error-text#unknown-error #{__('An unknown error occured, please try again later')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
