extends ../partials/head
block content
  .brand-wrapper
    //- a.brand-text(href="/brand") #{__('Marka Sayfası')}
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      img(src="/res/images/usersmagic_logo1.png" alt="usersmagic tester" class="usersmagic_logo")
    .language-change-wrapper
      a.language-text(href="/auth/login?lang=tr") TR
      span |
      a.language-text(href="/auth/login?lang=en") EN
  form.all-wrapper(method="POST" action="/auth/login" + (language_key ? ("?lang=" + language_key) : ""))
    .all-inner-wrapper
      span.form-title #{__('Welcome!')}
      br
      input.general-input-with-border(type="email" placeholder=__('email@email.com') name="email" required autofocus autocomplete="off")
      input.general-input-with-border(type="password" placeholder=__('******') name="password" required autocomplete="off")
      .lost-password-wrapper
        a.lost-password-link(href="/auth/lost_password" + (language_key ? ("?lang=" + language_key) : "")) #{__('Şifremi Unuttum')} 
      button.general-seablue-button
        span #{__('Giriş Yap')}
      .register-link-wrapper
        span.register-text #{__('Üye değil misin?')}
        a.register-link(href=language_key ? "/auth/register?lang=" + language_key : "/auth/register") #{__('Üye Ol')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
