extends ../partials/head
block content
  .brand-wrapper
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      img(src="/res/images/logo.png" alt="usersmagic tester")
    .language-change-wrapper
      a.language-text(href="/auth/login?lang=tr") TR
      span |
      a.language-text(href="/auth/login?lang=en") EN
  form.all-wrapper.login-form(method="POST" action="/auth/login" + (language_key ? ("?lang=" + language_key) : ""))
    .all-inner-wrapper
      span.logo-name usersmagic
      //- .lost-password-wrapper
      //-   a.lost-password-link(href="/auth/lost_password" + (language_key ? ("?lang=" + language_key) : "")) #{__('Reset Password')} 
      input.general-input-with-border#email-input(type="email" placeholder=__('E-Mail') autofocus autocomplete="off")
      input.general-input-with-border#password-input(type="password" placeholder=__('Password') autocomplete="off")
      button.general-seablue-button
        span #{__('Login')}
      .change-page-wrapper
        span.change-page-text #{__('Not a member?')}
        a.change-page(href=language_key ? "/auth/register?lang=" + language_key : "/auth/register") #{__('Register')}
      span.error-text#bad-request-error #{__('Please write your email and password')}
      span.error-text#not-found-error #{__('This account does not exist')}
      span.error-text#wrong-password-error #{__('Your password is wrong')}
      span.error-text#network-error #{__('Please check your internet connection and try again')}
      span.error-text#unknown-error #{__('An unknown error occured, please try again later')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
