extends ../partials/head
block content
  .brand-wrapper
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      img(src="/res/images/usersmagic_logo1.png" alt="usersmagic tester" class="usersmagic_logo")
    .language-change-wrapper
      a.language-text(href="/auth/lost_password?lang=tr") TR
      span |
      a.language-text(href="/auth/lost_password?lang=en") EN
  form.all-wrapper(method="POST" action="/auth/lost_password" + (language_key ? ("?lang=" + language_key) : ""))
    .all-inner-wrapper
      span.logo-name E-mail
      input.general-input-with-border(type="email" placeholder='name@email.com' name="email" required autofocus autocomplete="off")
      button.general-seablue-button
        span #{__('E-Posta Gönder')}
      if error && error == "bad request"
        span.error-text= __('Girdiğiniz e-posta adresi bulunamadı')
      else if error && error == "unknown"
        span.error-text= __('Bilinmeyen bir hata oluştu, lütfen daha sonra tekrar deneyin')
      else if error && error == "completed"
        span.error-text(style="color: green")= __('Girdiğiniz e-posta adresine şifre değiştirme linkiniz başarılı bir şekilde yollandı')
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
