extends ./../partials/head
block content
  form.all-wrapper(method="POST" action="/auth/register")
    .all-inner-wrapper
      span.logo-name usersmagic
      input.each-input(type="email" placeholder=__('E-Posta') name="email" required autofocus autocomplete="off")
      input.each-input(type="password" placeholder=__('Şifre') name="password" required autocomplete="off")
      input.each-input(type="password" placeholder=__('Şifre Tekrarı') name="password_confirm" required autocomplete="off")
      if error
        span.error-text= error
      button.send-button
        span #{__('Üye Ol')}
      .register-link-wrapper
        span.register-text #{__('Zaten üye misin')}
        a.register-link(href="/auth/login") #{__('Giriş Yap')}
    .bottom-wrapper
      a.brand-wrapper(href="/brand")
        img.brand-logo(src="/res/images/logo_black.png", alt="")
        span.brand-text #{__('Marka Sayfası')}
      span.copyright-text Copyright 2020 - Loy Yazılım
