extends ../partials/head
block content
  input.display-none#invitor-code(value=(code ? code : 1) type="text")
  .brand-wrapper
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      img(src="/res/images/logo.png" alt="usersmagic tester")
    .language-change-wrapper
      a.language-text(href="/auth/register?lang=tr") TR
      span |
      a.language-text(href="/auth/register?lang=en") EN
  form.all-wrapper.register-form
    .all-inner-wrapper
      span.logo-name usersmagic
      input.general-input-with-border#email-input(type="email" placeholder=__('E-Mail') autofocus autocomplete="off")
      input.general-input-with-border#password-input(type="password" placeholder=__('Password') autocomplete="off")
      input.general-input-with-border#confirm-password-input(type="password" placeholder=__('Confirm Password') autocomplete="off")
      .agreement-wrapper
        input.display-none#approve-agrement-input(type="checkbox")
        .agreement-checkbox-wrapper
          i.fas.fa-check
        span
          span.agreement-text #{__('By clicking the box, you accept')}
          a.agreement-link(href="/agreement/user")  #{__('User Agreement')}
          span.agreement-text  #{__('and')}
          a.agreement-link(href="/agreement/privacy")  #{__('Privacy Statement')}
          span.agreement-text  #{__('for using Usersmagic and give your permission for protection and usage of your informations.')}
      button.general-seablue-button
        span #{__('Register')}
      .change-page-wrapper
        span.change-page-text #{__('Already a member?')}
        a.change-page(href=language_key ? "/auth/login?lang=" + language_key : "/auth/login") #{__('Login')}
      span.error-text#bad-request-error #{__('Please write your email, password and confirm your password')}
      span.error-text#agreement-error #{__('Please accept the User Agreement and Privacy Statement')}
      span.error-text#valid-email-error #{__('Your email address is not valid')}
      span.error-text#duplicated-email-error #{__('This email is already on use')}
      span.error-text#password-length-error #{__('Your password should be at least 6 digits')}
      span.error-text#password-confirm-error #{__('Please confirm your password')}
      span.error-text#network-error #{__('Please check your internet connection and try again')}
      span.error-text#unknown-error #{__('An unknown error occured, please try again later')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
