extends ../partials/head
block content
  input.display-none#user-json(type="text" value=JSON.stringify(user))
  input.display-none#country-json(type="text" value=JSON.stringify(country))
  span.confirm-payment-title.display-none= __('Are you sure you want to withdraw 10 credit from your account?')
  span.confirm-payment-text.display-none= __('We will approve your credit and send the money to your PayPal account within a week.')
  span.no-payment-number-title.display-none= __('Please write your PayPal number')
  span.no-payment-number-text.display-none= __('We need a PayPal number in order to send you your money. Remember, you cannot change your number after you confirm.')
  span.confirm-payment-number-title.display-none= __('Do you confirm your payment number?')
  span.confirm-payment-number-text.display-none= __('Please confirm that you want to continue with given number. Once you confirm, you cannot change or delete your number. PayPal Number:')
  span.unknown-error-title.display-none= __('An unknown error occured')
  span.try-again-later-text.display-none= __('Please try again later. If the problem continues, contact us at hello@usersmagic.com.')
  span.number-changed-title.display-none= __('Your PayPal number is updated!')
  span.number-changed-text.display-none= __('Now, you may withdraw your money. If you later have a problem using the system, please feel free to contact us at hello@usersmagic.com.')
  span.not-enough-credit-title.display-none= __('You don\'t have enough credit to withdraw')
  span.not-enough-credit-text.display-none= __('You must at least have 0 credits to withdraw.')
  span.okay-text.display-none= __('Okay')
  span.dismiss-text.display-none= __('Dismiss')
  span.confirm-text.display-none= __('Confirm')
  span.cancel-text.display-none= __('Cancel')
  .all-wrapper
    .navigation-bar-wrapper
      img.navigation-bar-logo(src="/res/images/logo.png" alt="usersmagic tester")
      a.navigation-bar-button(href="/campaigns")
        i.fas.fa-home
      a.navigation-bar-button.selected-navigation-bar-button(href="/wallet")
        i.far.fa-credit-card
      a.navigation-bar-button(href="/profile")
        i.fas.fa-cog
    .all-content-wrapper
      .usersmagic-card-wrapper
        .usersmagic-card-background
        .usersmagic-card-layer
          .card-each-layer-line
            .card-each-triangle-bottom
            .card-each-triangle-bottom
            .card-each-triangle
            .card-each-triangle(style="border-top-right-radius: 10px")
          .card-each-layer-line
            .card-each-triangle-bottom
            .card-each-triangle-bottom
            .card-each-triangle
            .card-each-triangle
          .card-each-layer-line
            .card-each-triangle-bottom
            .card-each-triangle-bottom
            .card-each-triangle
            .card-each-triangle(style="border-bottom-right-radius: 10px")
        .usersmagic-card-content
          span.card-credit-amount #{currency} #{user.credit}
          .card-bottom-wrapper
            .card-number
              span #{__('PayPal Number')}:
              span #{user.payment_number ? user.payment_number : '-'}
            span.card-logo
              img(src="/res/images/logo_white.png" alt="usersmagic card")
              span usersmagic
      .all-content-inner-wrapper
        span.each-amount-title #{__('Until Withdrawal')}: #{currency}#{user.credit}
        span.each-amount-title #{__('Waiting Credit')}: #{currency}#{user.waiting_credit}
        span.each-amount-title #{__('Total Earned')}: #{currency}#{user.overall_credit}
        if !user.payment_number || !user.payment_number.length
          input.general-input-with-border.payment-number-input(type="number" placeholder=__('PayPal Number'))
        .general-seablue-button.withdraw-button
          span #{__('Withdraw')}
