extends ../../partials/adminHeader
block main
  .all-content-header
    .title-wrapper
      span.title= campaign.name
      span.subtitle Bu sayfadan bu kampanyaya gelen başvuruları görebilir, onay verebilir veya reddebilirsiniz. Eğer reddederseniz bir sebep yazmalısınız.
  .all-content-inner-wrapper
    .submitions-wrapper
      each submition in submitions
        .each-submition-wrapper
          span.submition-title Bilgiler:
          span.submition-user-info Ad Soyad: #{submition.user.name}
          span.submition-user-info Doğum Tarihi: #{submition.user.birth_year}
          span.submition-user-info Cinsiyet: #{submition.user.gender}
          span.submition-user-info E-Posta: #{submition.user.email}
          span.submition-user-info Telefon Numarası: #{submition.user.phone}
          span.submition-user-info Şehir: #{submition.user.city}
          if is_one_question
            span.each-answer #{question_number+1}. #{questions[question_number]}
            span.each-answer #{Array.isArray(submition.answer) ? submition.answer.join(' / ') : submition.answer}
          else
            span.submition-title Cevaplar:
            each key, i in Object.keys(submition.answers)
              span.each-answer #{i+1}. #{questions[i]}
              span.each-answer #{Array.isArray(submition.answers[key]) ? submition.answers[key].join(' / ') : submition.answers[key]}
          form.reject-form(action=`/admin/projects/submitions/reject?id=${submition._id.toString()}` method="POST")
            input.each-input(type="text" placeholder="Red Sebebi" name="reason")
            button.reject-button Reddet
            a.approve-button(href=`/admin/projects/submitions/approve?id=${submition._id.toString()}`) Onayla
