extends ../partials/adminHeader
block main
  input.display-none#type-names(type="text" value=JSON.stringify(type_names))
  input.display-none#questions(type="text" value=JSON.stringify(questions))
  .all-content-header
    .title-wrapper
      span.title Kampanyalar
      span.subtitle Bu sayfadan eklediğiniz kampanyaları görebilir, düzenleyebilir, silebilir, kampanyalara gelen başvuruları görebilir ve yeni kampanyalar yaratabilirsiniz.
    .new-campaign-button
      span +
  .all-content-inner-wrapper
    .campaigns-wrapper
      each campaign in campaigns 
        .each-campaign
          .campaign-photo-wrapper
            img.each-campaign-photo(src=campaign.photo)
          span.each-campaign-name= campaign.name
          span.each-campaign-name #{campaign.ended ? "(Silindi)" : ""}
          a.campaign-applications-button(href=`/admin/submitions?id=${campaign._id.toString()}&version=1.0`)
            i.fas.fa-list-ul
          //- a.campaign-delete-button(href="/admin/campaigns/details?id=" + campaign._id.toString())
          //-   i.fas.fa-cog
          //- a.campaign-delete-button(href="/admin/campaigns/results?id=" + campaign._id.toString())
          //-   i.fas.fa-chart-bar
          a.campaign-delete-button(href="/admin/campaigns/delete?id=" + campaign._id.toString() onclick="return confirm('Bu kampanyayı silmek istediğinize emin misiniz?')")
            i.fas.fa-trash
  form.new-form-wrapper(action="/admin/campaigns" method="POST" enctype="multipart/form-data")
    .form-inner-wrapper
      span.form-title Yeni Bir Kampanya Ekle
      span.form-subtitle Kampanya İsmi: *
      span.form-info Kullanıcıların kampanya için görecekleri isim.
      input.form-input(type="text" placeholder="İsim" name="name" required)
      span.form-subtitle Kampanya Açıklaması: *
      span.form-info Kullanıcıların kampanyaya katılmadan önce okuyacakları basit ve kısa bir açıklama.
      input.form-input(type="text" placeholder="Açıklama" name="description" required)
      span.form-subtitle Kampanya Bilgilendirmesi: *
      span.form-info Kullanıcıların kampanyaya katıldıktan sonra sorulara başlamadan önce okuyacakları detaylı bir bilgilendirme. Burada soruları cevaplamaya başlamadan yapmaları gereken şeyler vb açıklanabilir.
      .textarea-wrapper
        textarea.form-textarea(type="text" cols="30" rows="10" placeholder="Bilgilendirme" name="information" required)
      span.form-subtitle Kampanya Fiyatı: *
      span.form-info Kullanıcı başına verilecek fiyat. Türkiye'deki kullanıcılar için ₺, ABD için $ ve diğer ülkeler için € cinsinden.
      input.form-input(type="number" placeholder="Fiyat ₺/$/€" name="price")
      span.form-subtitle Kampanyayı Ücretsiz Olarak İşaretle: *
      span.form-info Kullanıcılar bu kampanyayı doldurunca para kazanmaz. Bu seçeneği seçerseniz eklediğiniz fiyat geçersiz olur.
      label.input-line
        input(type="checkbox" name="is_free")
        span Ücretsiz Kampanya
      span.form-subtitle Kampanya Resmi: *
      span.form-info Kampanya logosu.
      input.form-input(type="file" name="file" required)
      span.form-subtitle Geçerli Olduğu Ülkeler: *
      span.form-info Ülkeye göre filtreleme. "TR", "US", "UK", "DE" veya "RU" değerlerinden birini yazın. Birden fazla ülke yazmak için araya virgül koyun. Boşluk ya da başka bir noktalama işareti kullanmayın. Her ülke için geçerli para birimi kullanılır. Farklı değerlerde ödeme yapmak için her ülke için ayrı kampanya yaratın.
      input.form-input(type="text" placeholder="ör: TR,US" name="countries")
      span.form-subtitle Gereken Cinsiyet: (Yoksa boş bırakın)
      span.form-info Cinsiyete göre filtreleme.
      input.form-input(type="text" placeholder="ör: kadın / erkek" name="gender")
      span.form-subtitle Min Doğum Yılı: (Yoksa boş bırakın)
      span.form-info Maximum yaşa göre filtreleme.
      input.form-input(type="number" placeholder="ör: 1920" name="min_birth_year")
      span.form-subtitle Max Doğum Yılı: (Yoksa boş bırakın)
      span.form-info Minimum yaşa göre filtreleme..
      input.form-input(type="number" placeholder="ör: 2020" name="max_birth_year")
      input.display-none#campaign-questions-input(type="text" value="" name="questions")
      span.form-subtitle Kampanya Soruları: (Aşağıdaki listeden ekleyeceğiniz soruları seçin.)
      span.form-info Eklediğiniz soruları kampanya yayınlandıktan sonra silemezsiniz ya da yeni soru ekleyemezsiniz. Eğer bir soruyu düzenlemek isterseniz sorular sayfasından düzenleyebilirsiniz.
      .questions-wrapper#added-questions-wrapper
        span.no-question-text Hiçbir soru seçmediniz.
      span.form-subtitle Soru Listesi:
      span.form-info Yeni bir soru eklemek için sorular sayfasını kullanın.
      input.form-input#question-search-input(type="text" placeholder="Soru Ara")
      .questions-wrapper#questions-wrapper
        each question in questions
          .each-question(id=question._id.toString())
            span.question-name #{question.name} (#{type_names[question.type]})
            a.question-info-button(href="/admin/questions/details?id=" + question._id.toString() target="_blank")
              i.fas.fa-info
            i.fas.fa-plus.add-question-button
      .buttons-wrapper
        .back-button Geri
        button.form-button Oluştur
