extends ./../partials/head
block content
  form.all-wrapper.login-form
    .all-inner-wrapper
      span.logo-name admin.usersmagic
      input.general-input-with-border#password-input(type="password" placeholder=__('Password') autocomplete="off")
      button.general-seablue-button
        span #{__('Login')}
      span.error-text#bad-request-error #{__('Please write your password')}
      span.error-text#wrong-password-error #{__('The password is wrong')}
      span.error-text#network-error #{__('Please check your internet connection and try again')}
      span.error-text#unknown-error #{__('An unknown error occured, please try again later')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
