extends ../partials/adminHeader
block main
  .all-content-header
    .title-wrapper
      span.title= campaign.name
      span.subtitle Bu sayfadan bu kampanyaya gelen başvuruları görebilir, onay verebilir veya reddebilirsiniz. Eğer reddederseniz bir sebep yazmalısınız.
  .all-content-inner-wrapper
    .submitions-wrapper
      a.approve-all-button(href=`/admin/submitions/approve_all?campaign=${campaign._id.toString()}&id_list=${submitions.map(sub => sub._id.toString()).join("%2C")}`) Sayfadaki Başvuruların Hepsini Onayla
      each submition in submitions
        .each-submition-wrapper
          span.submition-title Bilgiler:
          span.submition-user-info Ad Soyad: #{submition.user.name}
          span.submition-user-info Doğum Tarihi: #{submition.user.birth_year}
          span.submition-user-info Cinsiyet: #{submition.user.gender}
          span.submition-user-info E-Posta: #{submition.user.email}
          span.submition-user-info Telefon Numarası: #{submition.user.phone}
          span.submition-user-info Şehir: #{submition.user.city || "Bilinmiyor"}
          span.submition-user-info İlçe: #{submition.user.town || "Bilinmiyor"}
          span.submition-title Cevaplar:
          each answer, i in submition.answers
            span.each-answer #{i+1}. #{questions[i]}
            span.each-answer #{Array.isArray(answer) ? answer.join(' / ') : answer}
          form.reject-form(action=`/admin/submitions/reject?id=${submition._id.toString()}` method="POST")
            input.each-input(type="text" placeholder="Red Sebebi" name="reason")
            button.reject-button Reddet
            a.approve-button(href=`/admin/submitions/approve?id=${submition._id.toString()}`) Onayla
