extends ../partials/head
block content
  input.display-none#countries(type="text" value=JSON.stringify(countries))
  .all-wrapper
    .navigation-bar-wrapper
      img.navigation-bar-logo(src="/res/images/logo.png" alt="usersmagic tester")
      a.navigation-bar-button(href="/campaigns")
        i.fas.fa-home
      a.navigation-bar-button(href="/wallet")
        i.far.fa-credit-card
      a.navigation-bar-button.selected-navigation-bar-button(href="/profile")
        i.fas.fa-cog
    .all-content-wrapper
      .all-content-inner-wrapper
        span.general-input-title Email
        span.general-input-with-border-no-change= user.email
        span.general-input-title Full Name
        input.general-input-with-border(type="text" placeholder="Full Name" value=user.name)
        //- span.general-input-title Country of Residence
        //- .general-drop-down-list-outer-wrapper(style="z-index: 5;")
        //-   .general-drop-down-list-wrapper(style="z-index: 5;")
        //-     input.general-drop-down-list-input#country-visible-input(type="text" autocomplete="none" placeholder=__('Country') value=__(country.name))
        //-     input.general-drop-down-list-input-not-visible#country-input(type="text" value=user.country)
        //-     input.general-drop-down-list-items-json(type="text" value=JSON.stringify(countries.map(country => { return {name: __(country.name), id: country.alpha2_code} })))
        //-     .general-drop-down-choices-wrapper
        //-       each country in countries
        //-         span.general-drop-down-list-each-item(id=country.alpha2_code)= __(country.name)
        span.general-input-title Phone Number
        label.phone-code-input-wrapper
          span.phone-code#phone-code +#{country.phone_code}
          input.phone-code-input#phone-input(type="text" placeholder=__('Phone Number') value=user.phone.substr((1 + (country.phone_code).toString().length), user.phone.length))
        .general-seablue-button
          span Update
