extends ./../../partials/head
block content
  .brand-wrapper
    //- a.brand-text(href="/brand") #{__('Marka Sayfası')}
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      i.fas.fa-home
    .language-change-wrapper
      a.language-text(href="/auth/company/complete?lang=tr") TR
      span |
      a.language-text(href="/auth/company/complete?lang=en") EN
  form.all-wrapper(method="POST" action="/auth/company/complete")
    .all-inner-wrapper
      span.logo-name usersmagic
      input.each-input(type="text" placeholder=__('Şirket Adı') name="company_name" required autofocus autocomplete="off")
      input.display-none#country-input(type="text" name="country")
      .select-input-outer-wrapper
        .select-input-wrapper
          input.select-input(type="text" placeholder=__('Şirketinizin Kayıtlı Olduğu Ülke') autocomplete="none")
          .select-input-choices
            span.each-input-choice(id="tr")= __('Türkiye')
            span.each-input-choice(id="us")= __('Amerika Birleşik Devletleri')
            span.each-input-choice(id="de")= __('Almanya')
            span.each-input-choice(id="uk")= __('İngiltere')
            span.each-input-choice(id="ru")= __('Rusya')
            span.each-input-choice(id="ua")= __('Ukrayna')
      input.each-input(type="phone" placeholder=__('Telefon Numarası') name="phone" required autocomplete="off")
      if error
        span.error-text= error
      button.send-button
        span #{__('Bitir')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
