extends ./../../partials/head
block content
  .brand-wrapper
    //- a.brand-text(href="/brand") #{__('Marka Sayfası')}
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      i.fas.fa-home
    .language-change-wrapper
      a.language-text(href="/auth/company/register?lang=tr") TR
      span |
      a.language-text(href="/auth/company/register?lang=en") EN
  form.all-wrapper(method="POST" action="/auth/company/register" + (invitor ? "?code=" + invitor : ""))
    .all-inner-wrapper
      span.logo-name usersmagic
      input.each-input(type="email" placeholder=__('E-Posta') name="email" required autofocus autocomplete="off")
      input.each-input(type="password" placeholder=__('Şifre') name="password" required autocomplete="off")
      input.each-input(type="password" placeholder=__('Şifre Tekrarı') name="password_confirm" required autocomplete="off")
      if error
        span.error-text= error
      button.send-button
        span #{__('Hesap Aç')}
      span.agreement-text
        span #{__('Hesap açarak')}
        a(href="/agreement/user") #{__('Kullanıcı Sözleşmesini')}
        span #{__('kabul etmiş olursunuz.')}
      .register-link-wrapper
        span.register-text #{__('Zaten bir hesabınız var mı')}?
        a.register-link(href=language_key ? "/auth/company/login?lang=" + language_key : "/auth/company/login") #{__('Giriş Yap')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
