extends ./head
block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  .all-wrapper
    //-.invite-button
      if (currency == '₺')
        i.fas.fa-lira-sign.lira-sign
      else if (currency == "$")
        i.fas.fa-dolar-sign.lira-sign
      else
        i.fas.fa-euro-sign.lira-sign
      span.invite-text #{__('Tanıdıklarını davet et, para kazan!')}
    //-.invite-wrapper
      span.invite-title
        span #{__('Arkadaşlarını aşağıdaki')}
        span.invite-title-bold #{__('sana özel')}
        span #{__('linki kullanarak davet et, uygulamadan para çeken')}
        span.invite-title-bold #{__('her arkadaşın')}
        span #{__('için')}
        span.invite-title-bold 2#{currency}
        span #{__('kazan')}!
      span.invite-message https://usersmagic.com/auth/register?code=#{code}
      .invite-copy-button
        span.invite-copy-button-text #{__('Linki Kopyala')}
      span.invite-close-text #{__('Kapat')}
      //- span.invite-info #{__('Sahte hesapların önüne geçebilmek için Usersmagic, sizin kodunuz ile kaydolan bir kullanıcı bakiyesinden para çekme işlemi gerçekleştirene kadar hesabınıza 2')}#{currency} #{__('yatırmaz. Fakat merak etmeyin, para çekme işleminin gerçekleştirilmesi için herhangi bir son kullanım tarihi bulunmamaktadır! Eğer bakiyenizde bir hata olduğunu düşünürseniz temsilcilerimiz ile iletişime geçmekten çekinmeyin')}.
    .all-header
      .all-header-menu-wrapper
        .header-user-logo
          img(src="/res/images/isolated-layout 1.png" alt="usersmagic tester" class="usersmagic_logo")
        a.icons-home(href="/history" class=(current_page == "history" ? "selected" : ""))
          img(src="/res/images/Home.png" alt="user profile home")
        a.icons-folder(href="/campaigns" class=(current_page == "campaigns" ? "selected" : ""))
          img(src="/res/images/weixin-cards-offers.png" alt="user profile folder")
        a.icons-settings(href="/profile" class=(current_page == "profile" ? "selected" : ""))
          img(src="/res/images/Setting 2.png" alt="user profile settings")
    .all-content
      block main
