extends ./../partials/head
block content
  .header-wrapper
    a.main-logo-wrapper(href=language_key ? `/?lang=${language_key}` : '/')
      img.main-logo(src="/res/images/logo.png", alt="usersmagic logo")
      span.logo-text usersmagic
    .change-language-wrapper
      .change-language-inner-wrapper
        span.current-language= current_language
        i.fas.fa-globe-americas
      .change-language-menu
        .change-language-menu-inner-wrapper
          a.each-language-button(href="?lang=tr") TR
          a.each-language-button(href="?lang=en") EN
          a.each-language-button(href="?lang=es") ES
          a.each-language-button(href="?lang=fr") FR
          a.each-language-button(href="?lang=de") DE
    .header-register-button
      span #{__('Hemen Başla')}
    a.header-change-page-button(href="/" + language_key ? `?lang=${language_key}` : '')
      span #{__('Şirket Hesabı Aç')}
  .content-wrapper
    .content-inner-wrapper
      .start-page-wrapper
        span.start-page-title
          span #{__('Para kazanmanın en')}
          span.colored #{__(' kolay ')}
          span #{__('yolu.')}
        span.start-page-info
          span.purple.bold #{__('usersmagic')}
          span #{__(', sizin için en iyisi')}
        .start-page-button
          span #{__('Hemen Başla')}
        .learn-more-link
          span #{__('Daha fazla öğren')}
          i.fas.fa-chevron-down
      .steps-wrapper
        img(src="/res/images/steps_tester.png", alt="usersmagic in three steps")
        .steps-inner-wrapper
          span.first-step
            span #{__('Sana hitap eden app ve websitelerin test etmek için')}
            span.purple #{__(' başvur ')}
            span #{__('ve kısa bir süre içinde')}
            span.purple #{__(' test etmeye ')}
            span #{__('başla.')}
          span.second-step
            span #{__('Ürününü')}
            span.red #{__(' bir hafta süresince ')}
            span #{__('kullanıp test et. Bu hafta içinde sana verdiğimiz formu doldur ve bize')}
            span.red #{__(' geri bildirimlerini ')}
            span #{__('ilet.')}
          span.third-step
            span #{__('Son olarak formu bize gönder, formun incelensin,')}
            span.yellow #{__(' bir hafta ')}
            span #{__('içinde')}
            span.yellow #{__(' paran hesabına yatsın. ')}
      .steps-wrapper-responsive
        img(src="/res/images/step_tester_one.png", alt="usersmagic")
        span.step-text-responsive
          span #{__('Sana hitap eden app ve websitelerin test etmek için')}
          span.purple #{__(' başvur ')}
          span #{__('ve kısa bir süre içinde')}
          span.purple #{__(' test etmeye ')}
          span #{__('başla.')}
        img(src="/res/images/step_tester_two.png", alt="usersmagic" style="margin-left: auto")
        span.step-text-responsive(style="margin-left: auto; text-align: right")
          span #{__('Ürününü')}
          span.red #{__(' bir hafta boyunca ')}
          span #{__('kullanıp test et. Bu hafta içinde sana verdiğimiz formu doldur ve bize')}
          span.red #{__(' geri bildirim ')}
          span #{__('ver.')}
        img(src="/res/images/step_tester_three.png", alt="usersmagic")
        span.step-text-responsive
          span #{__('Son olarak formu bize gönder, formun incelensin,')}
          span.yellow #{__(' bir hafta ')}
          span #{__('içinde')}
          span.yellow #{__(' paran hesabına yatsın. ')}
      .missions-wrapper
        img(src="/res/images/missions.png", alt="usersmagic missions")
      form.form-wrapper(method="POST" action="/tester")
        span.form-title
          span.red #{__('Para kazanmaya ')}
          span #{__('hazır mısın?')}
        .form-input-wrapper
          .form-input-first-column
            input.each-form-input#email-input(type="text" required placeholder=__('E-Posta') name="user_email" autocomplete="nope")
            input.each-form-input#name-input(type="text" required placeholder=__('Ad Soyad') name="user_name" autocomplete="nope")
            input.each-form-input#gender-input(type="text" required placeholder=__('Cinsiyet') name="user_gender" autocomplete="nope")
            input.each-form-input#phone-input(type="text" required placeholder=__('Telefon Numarası') name="user_phone" autocomplete="nope")
          .form-input-second-column
            .date-input-wrapper
              input.date-input-small#birth-day-input(type="number" required placeholder=__('Gün') name="user_birth_day" autocomplete="nope")
              input.date-input-small#birth-month-input(type="number" required placeholder=__('Ay') name="user_birth_month" autocomplete="nope")
              input.date-input-big#birth-year-input(type="number" required placeholder=__('Yıl') name="user_birth_year" autocomplete="nope")
            input.each-form-input#last-school-input(type="text" required placeholder=__('Aktif Öğrenci veya Mezun Olduğun Okul') name="last_school" autocomplete="nope")
            input.each-form-input#profession-input(type="text" required placeholder=__('Meslek') name="user_profession" autocomplete="nope")
            .student-button-wrapper
              .student-button
                i.fas.fa-check
              span #{__('Öğrenciyim')}
        button.form-send-button
          span #{__('Aramıza Katıl')}
        .form-response-wrapper
          span.form-response#success-text #{__('Kaydın başarı ile alındı, bir hafta içinde ekibimiz sana ulaşacak!')}
          span.form-response.red#valid-email-error #{__('Lütfen geçerli bir e-posta adresi gir.')}
          span.form-response.red#email-repeat-error #{__('Bu e-posta adresi zaten kaydedilmiş.')}
          span.form-response.red#unknown-error #{__('Bilinmeyen bir hata oluştu, lütfen daha sonra tekrar dene.')}
      .footer
        .footer-top
          .each-footer-column(style="margin-right: 20px")
            span.footer-title #{__('İletişim')}
            span.footer-text hello@usersmagic.com
            span.footer-text instagram - usersmagic
            span.footer-text linkedin - usersmagic
          .each-footer-column.services-footer(style="margin-left: 20px")
            span.footer-title #{__('Hizmetlerimiz')}
            span.footer-text User Testing
            span.footer-text Experience Marketing
            span.footer-text Data Analysing
        .footer-bottom
          span.copyright Copyright 2020 - LOY combinator
          span.copyright #{__('Tüm hakları saklıdır.')}
