extends ../partials/header
block main
  div.status_buttons
    button.status_button(id="new") #{__('New')}
    button.status_button(id="complete") #{__('Complete')}
    button.status_button(id="in_review") #{__('In Review')}
  if submitions.length
    .all-content-inner-wrapper
      each submition in submitions
        if submition.status == "saved"
          .saved
            .campaign-outer-wrapper
              .campaign-wrapper
                .campaign-photo-wrapper
                  img.campaign-photo(src=submition.campaign.image alt=submition.campaign.name)
                .campaign-info-wrapper
                  span.campaign-name= submition.campaign.name
                  if submition.is_private_campaign && submition.will_terminate_at && submition.will_terminate_at > ((new Date).getTime())
                    span.campaign-time-limit #{__('Kalan Süre')}: #{Math.floor((submition.will_terminate_at - ((new Date).getTime())) / 1000 / 60 / 60)}s #{Math.round((submition.will_terminate_at - ((new Date).getTime())) / 1000 / 60)}dk
                  span.campaign-description= submition.error ? submition.error : submition.campaign.description
                  .campaign-price-wrapper
                    if submition.campaign.is_free
                      span.campaign-price #{__('Özel Kampanya')}
                    else
                      span.campaign-price-text #{__('Kazanacağın')}:
                      span.campaign-price #{submition.campaign.price}#{currency}
                  a.campaign-join-button(href="/test?id=" + submition._id.toString())
                    span.campaign-join-text #{__('Devam Et')}
        else if submition.status == "waiting"
          .in_review
            .campaign-outer-wrapper
              .campaign-wrapper
                .campaign-photo-wrapper
                  img.campaign-photo(src=submition.campaign.image alt=submition.campaign.name)
                .campaign-info-wrapper
                  span.campaign-name= submition.campaign.name
                  span.campaign-description= submition.campaign.description
                  .campaign-price-wrapper
                    if submition.campaign.is_free
                      span.campaign-price #{__('Özel Kampanya')}
                    else
                      span.campaign-price-text #{__('Kazanacağın')}:
                      span.campaign-price #{submition.campaign.price}#{currency}
                  span.campaign-info-text #{__('Onay bekliyor')}...
        else if submition.status == "approved"
          .complete
            .campaign-outer-wrapper
              .campaign-wrapper
                .campaign-photo-wrapper
                  img.campaign-photo(src=submition.campaign.image alt=submition.campaign.name)
                .campaign-info-wrapper
                  span.campaign-name= submition.campaign.name
                  span.campaign-description= submition.campaign.description
                  .campaign-price-wrapper
                    if submition.campaign.is_free
                      span.campaign-price #{__('Özel Kampanya')}
                    else
                      span.campaign-price-text #{__('Kazanacağın')}:
                      span.campaign-price #{submition.campaign.price}#{currency}
                  span.campaign-info-text #{__('Cevapların onaylandı, bakiyeni profil sayfanda görebilirsin')}!
        else if submition.status == "unapproved"
          .campaign-outer-wrapper
            .campaign-wrapper
              .campaign-photo-wrapper
                img.campaign-photo(src=submition.campaign.image alt=submition.campaign.name)
              .campaign-info-wrapper
                span.campaign-name= submition.campaign.name
                span.campaign-error= submition.error
                span.campaign-info-text #{__('Cevapların reddedildi, lütfen kampanyaya kampanyalar sayfasından yeniden katıl')}
        else if submition.status == "timeout"
          .campaign-outer-wrapper
            .campaign-wrapper
              .campaign-photo-wrapper
                img.campaign-photo(src=submition.campaign.image alt=submition.campaign.name)
              .campaign-info-wrapper
                span.campaign-name= submition.campaign.name
                span.campaign-error #{__('Kampanyayı doldurmanız gereken sürede doldurmadınız')}
                span.campaign-info-text #{__('Cevapların reddedildi, lütfen kampanyaya kampanyalar sayfasından yeniden katıl')}  
    .empty-space
  else
    span.no-campaign-text #{__('Henüz hiçbir kampanyaya katılmamışsın')}.
  script(src="/js/dynamic_headers/dynamic_orginizer.js")
