extends ../partials/head
block content
  .all-wrapper
    .all-wrapper-inner-tester
      span.all-wrapper-text= __('Are you a tester?')
      .all-wrapper-buttons-wrapper
        span.all-wrapper-left-button.go-tester-button= __('Yes, go to tester page')
        span.all-wrapper-right-button.go-company-button= __('Continue with company page')
  .all-wrapper-tester
    .all-wrapper-tester-inner-wrapper
      img.tester-landing-background(src="/res/images/tester_landing_background.png" alt="usersmagic tester")
      .tester-landing-transparent-wrapper
        .tester-landing-header
          img.tester-landing-logo(src="/res/images/logo/white.png" alt="usersmagic logo")
          span.tester-go-company-button.go-company-button= __('Company Page')
        span.tester-landing-above-title= __('BECOME A TESTER')
        span.tester-landing-title= __('Be heard by companies,')
        span.tester-landing-title= __('while getting paid')
        span.tester-landing-subtitle(style="margin-top: 30px")= __('Becoming a tester can help you turn your opinions into extra')
        span.tester-landing-subtitle= __('income and support great products you might use and love.')
        span.tester-landing-subtitle-responsive= __('Becoming a tester can help you turn your opinions into extra income and support great products you might use and love.')
        a.tester-join-waitlist-button(href="https://tester.usersmagic.com" target="_blank")= __('Join the waitlist')
        .tester-login-button
          span= __('Already have an account?')
          a(href="https://tester.usersmagic.com/auth/login" target="_blank")= __('Login')
      .tester-brand-wrapper
        img.each-brand(src="/res/images/logos/clay.png" alt="usersmagic clay")
        img.each-brand(src="/res/images/logos/varan.png" alt="usersmagic varan")
        img.each-brand(src="/res/images/logos/nike.png" alt="usersmagic nike")
        img.each-brand(src="/res/images/logos/teknosa.png" alt="usersmagic teknosa")
        img.each-brand(src="/res/images/logos/marketyo.png" alt="usersmagic marketyo")
      .tester-landing-wrapper
        .each-tester-point-wrapper
          .each-tester-point-icon
            i.far.fa-user
          .each-tester-point-info
            span.each-tester-point-title= __('Create an account')
            span.each-tester-point-text= __('Join the waitlist and fill out some surveys to earn priority. You will receive an email when you are in.')
        .each-tester-point-wrapper(style="margin: 0px 40px")
          .each-tester-point-icon
            i.fas.fa-mobile-alt
          .each-tester-point-info
            span.each-tester-point-title= __('Answer questions')
            span.each-tester-point-text= __('All you have to do is answer some questions about what you think about certian apps and websites. ')
        .each-tester-point-wrapper
          .each-tester-point-icon
            i.far.fa-smile
          .each-tester-point-info
            span.each-tester-point-title= __('Get paid')
            span.each-tester-point-text= __('We will pay you as soon as your answers are accepted. You will receive payments through Paypal.')
  .all-wrapper-company
    .landing-all-header
      a.landing-header-logo-wrapper(href=language_key ? `/?lang=${language_key}` : '/')
        img.landing-header-logo(src="/res/images/logo_black.png" alt="usersmagic")
        span.landing-header-logo-text usersmagic
      .landing-header-buttons-wrapper
        a.landing-header-start-button(href="https://www.notion.so/4dc920a0096f400cbd74b976780a7526?v=0e2376c9d31b4ddd87b8f38e1462379a" target="_blank")= __("Try Usersmagic")
        a.change-language-button(href='/?lang=' + (current_language == 'TR' ? 'en' : 'tr'))
          span= (current_language == "TR" ? "EN" : "TR")
    .landing-all-content
      .landing-all-content-inner-wrapper
        .landing-start-page-wrapper
          span.landing-start-page-title= __('Reach your target customers')
          span.landing-start-page-subtitle= __('Improve your product and marketing strategy with user and data-driven decision making.')
          a.landing-start-button(href="https://app.usersmagic.com" target="_blank")
            span= __('Start Now')
        .landing-second-page-wrapper
          .second-page-brand-wrapper
            img.each-brand(src="/res/images/logos/clay.png" alt="usersmagic clay")
            img.each-brand(src="/res/images/logos/varan.png" alt="usersmagic varan")
            img.each-brand(src="/res/images/logos/nike.png" alt="usersmagic nike")
            img.each-brand(src="/res/images/logos/teknosa.png" alt="usersmagic teknosa")
            img.each-brand(src="/res/images/logos/marketyo.png" alt="usersmagic marketyo")
          .second-page-content-wrapper
            .second-page-animation-wrapper
              img.second-page-animation(src="/res/images/landing_user_animation.png" alt="usersmagic")
            .second-page-inner-content-wrapper
              span.second-page-content-subtitle= __('TO REACH YOUR GOALS')
              span.second-page-content-title= __('You need to listen to and understand your customers')
              span.second-page-content-text= __('Why are our conversion rates lower than expected for certain products and segments, what do Gen-Z think about our product, what do new grads in New York need? Usersmagic allows you to find the responses to your questions so that you can understand your customers from all segments and improve your product or service.')
              .second-page-down-button
                span= __('How?')
                i.fas.fa-arrow-down
        .how-to-content-wrapper
          span.how-to-title= __('How do we do it?')
          .how-to-inner-content-wrapper
            .how-to-each-wrapper
              img.how-to-each-icon(src="/res/images/how_to/one.png" alt="usersmagic")
              span.how-to-each-title= __('Detailed Segmentation')
              span.how-to-each-text= __('Filter your target by location, gender, job, education, hobbies, and products they already use. You can choose your exact target segment from our extensive and detailed user-database.')
            .how-to-each-wrapper.how-to-second-each-wrapper(style="margin: 0px 60px")
              img.how-to-each-icon(src="/res/images/how_to/two.png" alt="usersmagic")
              span.how-to-each-title= __('User Experience Analysis')
              span.how-to-each-text= __('Your target audience downloads your app or enters your website, completes your task, and completes the survey according to their experience. We analyze quantitative data, such as Net Promoter Score, Customer Satisfaction Score, and qualitative data, so that you not only measure but also understand their experience, feelings, and thoughts.')
            .how-to-each-wrapper
              img.how-to-each-icon(src="/res/images/how_to/three.png" alt="usersmagic")
              span.how-to-each-title= __('Data-based Insights')
              span.how-to-each-text= __('Understand the reasoning behind how your user feels, decides, and acts through our thorough analysis. The insights we provide allow you to improve your product, enter new markets and segments, and reach your goal metrics.')
        .growth-content-wrapper
          .growth-title-wrapper
            span.growth-title= __('Growing every day')
            span.growth-title= __('Growing every day 2')
            span.growth-subtitle= __('Usersmagic gets the job done for UX researchers, Product Managers, and Founders across the world.')
          .growth-content-inner-wrapper
            .each-growth-wrapper
              img.each-growth-icon(src="/res/images/how_to/one.png" alt="usersmagic")
              .each-growth-inner-wrapper
                span.each-growth-title 107.000+
                span.each-growth-text Tester
            .each-growth-wrapper.each-growth-wrapper-right
              img.each-growth-icon(src="/res/images/how_to/two.png" alt="usersmagic")
              .each-growth-inner-wrapper
                span.each-growth-title 4
                span.each-growth-text= __('Countries')
            .each-growth-wrapper
              img.each-growth-icon(src="/res/images/how_to/four.png" alt="usersmagic")
              .each-growth-inner-wrapper
                span.each-growth-title 37+
                span.each-growth-text= __('Clients')
            .each-growth-wrapper.each-growth-wrapper-right
              img.each-growth-icon(src="/res/images/how_to/three.png" alt="usersmagic")
              .each-growth-inner-wrapper
                span.each-growth-title 92
                span.each-growth-text= __('Cases')
        .footer-wrapper
          .footer-top-wrapper
            .each-footer-wrapper
              span.each-footer-title= __('Become a Tester')
              a.each-footer-text(href="https://tester.usersmagic.com/auth/register")= __('Register')
              a.each-footer-text(href="https://tester.usersmagic.com/auth/login")= __('Login')
            .each-footer-wrapper
              span.each-footer-title= __('About')
              a.each-footer-text(href="https://tester.usersmagic.com/agreement/privacy")= __('Privacy Statement')
              a.each-footer-text(href="https://tester.usersmagic.com/agreement/user")= __('User Agreement')
            .each-footer-wrapper
              span.each-footer-title= __('Try Usersmagic')
              span.each-footer-text email:
              span.each-footer-text hello@usersmagic.com
          .footer-bottom-wrapper
            a.footer-header-logo-wrapper(href="/")
              img.footer-header-logo(src="/res/images/logo_black.png" alt="usersmagic")
              span.footer-header-logo-text usersmagic
            .copyright-wrapper
              span Copyright 2020 - Loy Yazılım
