extends ./../../partials/head
block content
  .brand-wrapper
    //- a.brand-text(href="/brand") #{__('Marka Sayfası')}
    a.main-page-button(href=language_key ? "/?lang=" + language_key : "/")
      i.fas.fa-home
    .language-change-wrapper
      a.language-text(href="/auth/user/register?lang=tr") TR
      span |
      a.language-text(href="/auth/user/register?lang=en") EN
  form.all-wrapper.register-form(method="POST" action="/auth/user/register" + (invitor ? "?code=" + invitor : "") + (language_key ? ((invitor ? "&" : "?") + "lang=" + language_key) : ""))
    .all-inner-wrapper
      span.logo-name usersmagic
      input.each-input(type="email" placeholder=__('E-Posta') name="email" required autofocus autocomplete="off")
      input.each-input(type="password" placeholder=__('Şifre') name="password" required autocomplete="off")
      input.each-input(type="password" placeholder=__('Şifre Tekrarı') name="password_confirm" required autocomplete="off")
      .agreement-wrapper
        input.display-none(type="checkbox" name="agreement_approved")
        .agreement-checkbox-wrapper
          i.fas.fa-check
        span
          span.agreement-text #{__('Kutucuğu işaretleyerek Usersmagic')}
          a.agreement-link(href="/agreement/user")  #{__('Kullanım Sözleşmesini')}
          span.agreement-text  #{__('ve')}
          a.agreement-link(href="/agreement/privacy")  #{__('Gizlilik Sözleşmesini')}
          span.agreement-text  #{__('kabul ediyor, kişisel verilerin korunması ve işlenmesine ilişkin açık rıza veriyorum.')}
      if error
        span.error-text= error
      button.send-button
        span #{__('Üye Ol')}
      .register-link-wrapper
        span.register-text #{__('Zaten üye misin')}?
        a.register-link(href=language_key ? "/auth/user/login?lang=" + language_key : "/auth/user/login") #{__('Giriş Yap')}
    .bottom-wrapper
      span.copyright-text Copyright 2020 - Loy Yazılım
