extends ./../partials/head
block content
  .all-wrapper
    .all-header
      .all-header-menu-wrapper
        a.each-header-menu(href="/history")
          i.fas.fa-tasks
        a.each-header-menu.selected(href="/campaigns")
          i.fas.fa-home
        a.each-header-menu(href="/profile")
          i.fas.fa-user
    .all-content
      if campaigns.length
        .all-content-inner-wrapper
          each campaign in campaigns
            .campaign-outer-wrapper
              .campaign-wrapper
                .campaign-photo-wrapper
                  img.campaign-photo(src=campaign.photo alt=campaign.name)
                .campaign-info-wrapper
                  span.campaign-name= campaign.name
                  span.campaign-description= campaign.description
                  .campaign-price-wrapper
                    span.campaign-price-text #{__('Kazanacağın')}:
                    span.campaign-price #{campaign.price}₺
                  a.campaign-join-button(href="/campaigns/join?id=" + campaign._id.toString())
                    span.campaign-join-text= __('Katıl')
      else
        span.no-campaign-text= __('Şuan katılabileceğin hiçbir kampanya görünmüyor, lütfen daha sonra tekrar kontrol et!')
    .all-header-responsive
      a.each-header-menu-responsive(href="/history")
        i.fas.fa-tasks
      a.each-header-menu-responsive.selected(href="/campaigns")
        i.fas.fa-home
      a.each-header-menu-responsive(href="/profile")
        i.fas.fa-user
