extends ../partials/head
block content
  span.dismiss-text.display-none= __('Dismiss')
  .all-wrapper
    .navigation-bar-wrapper
      img.navigation-bar-logo(src="/res/images/logo.png" alt="usersmagic tester")
      a.navigation-bar-button.selected-navigation-bar-button(href="/campaigns")
        i.fas.fa-home
      a.navigation-bar-button(href="/wallet")
        i.far.fa-credit-card
      a.navigation-bar-button(href="/profile")
        i.fas.fa-cog
    .all-content-wrapper
      .all-content-header-wrapper
        .all-content-header-text-wrapper
          span.all-content-header-title #{__('New surveys are here!')}
          span.all-content-header-subtitle #{__('You can earn')} #{currency}#{total} #{__('when you complete the following')}
        .all-content-header-buttons-wrapper
          a.each-all-content-header-button.selected-all-content-header-button(href="/campaigns") #{__('New')}
          a.each-all-content-header-button(href="/filters") #{__('Filters')}
          a.each-all-content-header-button(href="/waiting") #{__('In Review')}
          a.each-all-content-header-button(href="/history") #{__('Complete')}
      .all-content-inner-wrapper
        if on_waitlist
          .waitlist-info-wrapper
            span.waitlist-title #{__('You joined the waitlist!')}
            span.waitlist-info #{__('For early access, complete the short surveys in the "Filters" section. You will receive an email when you are off the waitlist. Meanwhile, join our discord server to hang out with others and ask questions.')}
            span.waitlist-info #{__('You may complete filters to higher your rank among other users.')}
            span.waitlist-info #{__('You are not paid for most of the filters, but with each question you answer you will get closer to the top of the list.')}
            .waitlist-button-wrapper
              a.general-seablue-button(href="/filters")
                span #{__('Go to Filters')}
        else
          .campaigns-wrapper
            each campaign, i in campaigns
              .each-campaign-wrapper
                .each-campaign-image-wrapper
                  img.each-campaign-image(src=campaign.image alt="usersmagic " + campaign.name)
                span.view-each-campaign-details-button #{__('View Details')}
                span.each-campaign-title= campaign.name
                span.each-campaign-description= campaign.description
                if campaign.price && !campaign.is_free
                  span.each-campaign-price #{currency}#{campaign.price}
                else
                  span.each-campaign-private-price #{__('Özel Kampanya')}
                a.general-seablue-border-button.each-campaign-join-button(href=`/campaigns/join?id=${campaign._id}`)
                  span #{__('Join')}
