extends ./../../partials/header
block main
  if campaigns.length
    if commercial
      .commercial-outer-wrapper-responsive
        a.commercial-inner-wrapper(href=commercial.url target="_blanck")
          .commercial-image-wrapper
            img.commercial-image(src=commercial.photo alt=commercial.name)
      .all-content-inner-wrapper-with-commercial
        each campaign, i in campaigns
          .campaign-outer-wrapper
            .campaign-wrapper
              .campaign-photo-wrapper
                img.campaign-photo(src=campaign.photo alt=campaign.name)
              .campaign-info-wrapper
                span.campaign-name= campaign.name
                if campaign.is_private_campaign
                  span.campaign-time-limit #{__('Zaman Sınırı')}: #{campaign.time_limit}h
                span.campaign-description= campaign.description
                .campaign-price-wrapper
                  if campaign.is_free || !campaign.price
                    span.campaign-price #{__('Özel Kampanya')}
                  else
                    span.campaign-price-text #{__('Kazanacağın')}:
                    span.campaign-price #{campaign.price}#{currency}
                a.campaign-join-button(href="/campaigns/user/join?id=" + campaign._id.toString() + (campaign.is_private_campaign ? "&is_private_campaign=true" : ""))
                  span.campaign-join-text #{__('Katıl')}
      .commercial-outer-wrapper
        a.commercial-inner-wrapper(href=commercial.url target="_blanck")
          .commercial-image-wrapper
            img.commercial-image(src=commercial.photo alt=commercial.name)
    else
      .all-content-inner-wrapper
        each campaign, i in campaigns
          .campaign-outer-wrapper
            .campaign-wrapper
              .campaign-photo-wrapper
                img.campaign-photo(src=campaign.photo alt=campaign.name)
              .campaign-info-wrapper
                span.campaign-name= campaign.name
                if campaign.is_private_campaign
                  span.campaign-time-limit #{__('Zaman Sınırı')}: #{campaign.time_limit}h
                span.campaign-description= campaign.description
                .campaign-price-wrapper
                  if campaign.is_free || !campaign.price
                    span.campaign-price #{__('Özel Kampanya')}
                  else
                    span.campaign-price-text #{__('Kazanacağın')}:
                    span.campaign-price #{campaign.price}#{currency}
                a.campaign-join-button(href="/campaigns/user/join?id=" + campaign._id.toString() + (campaign.is_private_campaign ? "&is_private_campaign=true" : ""))
                  span.campaign-join-text #{__('Katıl')}
    .empty-space
  else
    span.no-campaign-text #{__('Şuan katılabileceğin hiçbir kampanya görünmüyor, lütfen daha sonra tekrar kontrol et!')}
