extends ./../../partials/companyHeader
block main
  span.display-none#uploading-text #{__('Yükleniyor')}...
  span.display-none#uploaded-text #{__('Kampanyanız için bir fotoğraf seçin.')}
  span.display-none#example-choice-text #{__('Örnek seçenek')}
  span.display-none#other-text #{__('Diğer')}
  span.display-none#character-left-text= __('karakter kaldı')
  span.display-none#your-answer-text= __('Cevabınız')
  .all-content-inner-wrapper
    span.content-title#campaign-info-title #{__('Kampanya Bilgilerini Girin')}
    span.content-title#campaign-question-title #{__('Kampanya Sorularını Ekleyin')}
    span.content-title#campaign-filter-title #{__('Kampanyanızı Göndereceğiniz Kullanıcıları Filtreleyin')}
    span.content-title#campaign-payment-title #{__('Kampanyanızın Ödeme Seçeneklerini Belirleyin')}
    .campaign-info-wrapper
      .campaign-info-left-wrapper
        label.photo-wrapper
          input.display-none#photo-select-input(type="file")
          image.campaign-photo(src="" alt="usersmagic")
          i.fas.fa-image#campaign-no-photo-icon
        span.input-info#image-span(style="text-align: center;") #{__('Kampanyanız için bir fotoğraf seçin.')}
      .campaign-info-right-wrapper
        input.name-input(type="text" placeholder=__('Kampanya İsmi'))
        span.input-info #{__('Kampanyanızın içeriğini kullanıcılara belli edecek bir isim seçin.')}
        input.description-input(type="text" placeholder=__('Kampanya Açıklaması'))
        span.input-info #{__('Kampanyaya katılmadan önce kullanıcıların okuyacağı basit bir açıklama yazın.')}
        textarea.information-input(type="text" placeholder=__('Kampanya Bilgilendirmesi'))
        span.input-info #{__('Kullanıcıların kampanyaya katıldıktan sonra okuyacakları detaylı bir açıklama yazın.')}
        .continue-button
          span #{__('Devam Et')}
    .campaign-question-wrapper
      .campaign-question-create-wrapper
        span.each-input-title #{__('Soru Metnini Yazın')}:
        input.each-input#question-text-input(type="text" autocomplete="off" placeholder=__('Soru Metni'))
        span.each-input-title #{__('Soru Tipini Seçin')}:
        .question-types-wrapper
          .each-question-type-wrapper(id="radio")
            img.each-question-type-icon(src="/res/images/radio_icon.png" alt="usersmagic radio question")
            span.each-question-type #{__('Tek Seçmeli Şıklı Soru')}
          .each-question-type-wrapper(id="checked")
            img.each-question-type-icon(src="/res/images/checked_icon.png" alt="usersmagic checked question")
            span.each-question-type #{__('Çok Seçmeli Şıklı Soru')}
          .each-question-type-wrapper(id="long_text")
            img.each-question-type-icon(src="/res/images/long_text_icon.png" alt="usersmagic long text question")
            span.each-question-type #{__('Çok Satırlı Yazılı Soru')}
        .question-types-wrapper
          .each-question-type-wrapper(id="short_text")
            img.each-question-type-icon(src="/res/images/short_text_icon.png" alt="usersmagic short text question")
            span.each-question-type #{__('Tek Satırlı Yazılı Soru')}
          .each-question-type-wrapper(id="range")
            img.each-question-type-icon(src="/res/images/range_icon.png" alt="usersmagic range question")
            span.each-question-type #{__('Aralık Puanlama Sorusu')}
        .continue-button
          span #{__('Devam Et')}
      .campaign-question-content-wrapper
        .selected-question-create-wrapper
          span.each-input-title= __('Soru Seçenekleri')
          .choice-input-list-wrapper
            input.each-input.each-choice-input(type="text" placeholder=__('Seçenek'))
          span.each-input-title= __('Diğer Seçeneği')
          .other-option-button
            .other-option-selection
              i.fas.fa-check
            span #{('Diğer seçeneği ekle')}
          .create-question-button
            span= __('Ekle')
        .written-question-create-wrapper
          span.each-input-title= __('Maximum Karakter Sayısı')
          input.each-input.character-count-input(type="number" pattern="[0-9]" placeholder=__('Maximum Karakter Sayısı') value=0)
          .create-question-button
            span= __('Ekle')
        .range-question-create-wrapper
      .campaign-questions-outer-wrapper
        .campaign-questions-wrapper
          span.no-question-text #{__('Eklediğiniz sorular burada görünür.')}
    .campaign-filter-wrapper
    
