extends ./../../partials/companyHeader
block main
  span.display-none#uploading-text #{__('Yükleniyor')}...
  span.display-none#uploaded-text #{__('Kampanyanız için bir fotoğraf seçin.')}
  span.display-none#example-choice-text #{__('Örnek seçenek')}
  span.display-none#other-text #{__('Diğer')}
  span.display-none#character-left-text= __('karakter kaldı')
  span.display-none#your-answer-text= __('Cevabınız')
  span.display-none#filter-accepted-answer-text= __('Kabul Edilen Cevaplar')
  input.display-none#filters-json(type="text" value=JSON.stringify(questions))
  .choose-filters-wrapper
    .choose-filters-inner-wrapper
      .choose-filters-title-wrapper
        span.choose-filters-title= __('Filtre Seçin')
        i.fas.fa-times.close-filters-button
      .choose-filters-input-wrapper
        input.search-filter-input(type="text" autofocus placeholder=__('Ara'))
        span.choose-filters-found-number #{questions.length} #{__('Filtre Bulundu')}
      .choose-filters-each-filter-wrapper 
        each question in questions
          .each-choose-filter(id=question._id.toString())
            span.each-choose-filter-name= question.name
    .choose-filters-options-wrapper
      .choose-filters-title-wrapper
        span.choose-filters-title= __('Seçenekleri Belirleyin')
        i.fas.fa-times.close-filters-button
      span.filter-info= __('Seçtiğiniz seçeneklerden en az birini işaretleyen kullanıcılar bu filtreden geçebilir. Eğer birden fazla seçeneğin zorunlu olmasını istiyosanız aynı filtreyi farklı seçeneklerle birden çok kez eklemelisiniz.')
      .choose-all-button-wrapper
        .choice-checked
          i.fas.fa-check
        span= __('Hepsi')
      .choose-filters-each-option-wrapper
      .choose-filters-buttons-wrapper
        span.options-go-back-button= __('Geri')
        .filter-add-button
          span Ekle
  .all-content-inner-wrapper
    span.content-title#campaign-info-title #{__('Kampanya Bilgilerini Girin')}
    span.content-title#campaign-question-title #{__('Kampanya Sorularını Ekleyin')}
    span.content-title#campaign-filter-title #{__('Kampanyanızı Göndereceğiniz Kullanıcıları Filtreleyin')}
    //- span.content-title#campaign-payment-title #{__('Kampanyanızın Ödeme Seçeneklerini Belirleyin')}
    //- span.content-title#campaign-send-title #{__('Kampanyanızın Gözden Geçirin ve Gönderin')}
    .campaign-info-wrapper
      .campaign-info-left-wrapper
        label.photo-wrapper
          input.display-none#photo-select-input(type="file")
          image.campaign-photo(src="" alt="usersmagic")
          i.fas.fa-image#campaign-no-photo-icon
        span.input-info#image-span(style="text-align: center; margin-left: 0px") #{__('Kampanyanız için bir fotoğraf seçin.')}
      .campaign-info-right-wrapper
        .campaign-info-right-inner-wrapper
          input.name-input(type="text" placeholder=__('Kampanya İsmi'))
          span.input-info #{__('Kampanyanızın içeriğini kullanıcılara belli edecek bir isim seçin.')}
          input.price-input(type="number" placeholder=__('Kampanya Fiyatı'))
          span.input-info #{__('Katılan kullanıcı başına ödeyeceğiniz fiyatı girin. Fiyat Türk kullanıcılar için ₺, Amerika için $ ve diğer ülkeler için € cinsinden geçerli olur.')}
          input.description-input(type="text" placeholder=__('Kampanya Açıklaması'))
          span.input-info #{__('Kampanyaya katılmadan önce kullanıcıların okuyacağı basit bir açıklama yazın.')}
          textarea.information-input(type="text" placeholder=__('Kampanya Bilgilendirmesi'))
          span.input-info #{__('Kullanıcıların kampanyaya katıldıktan sonra okuyacakları detaylı bir açıklama yazın.')}
          input.each-input.campaign-limit-input(type="number" placeholder=__('Kampanyanızın duracağı limiti belirleyin.'))
          span.input-info= __('Kampanyanız, onaylanan başvuru sayısı belirlediğiniz limite ulaşınca otomatik olarak duracak. Kampanyanızı istediğiniz zaman durdurabilir ve başlatabilirsiniz.')
          .campaign-info-filter-wrapper
            .select-input-outer-wrapper.country-select-input
              .select-input-wrapper.country-select-input
                input.select-input.country-select-input(type="text" placeholder=__('Ülke') autocomplete="none")
                .select-input-choices.country-select-input
                  span.each-input-choice.country-each-input-choice(id="tr")= __('Türkiye')
                  span.each-input-choice.country-each-input-choice(id="us")= __('Amerika Birleşik Devletleri')
                  span.each-input-choice.country-each-input-choice(id="de")= __('Almanya')
                  span.each-input-choice.country-each-input-choice(id="uk")= __('İngiltere')
                  span.each-input-choice.country-each-input-choice(id="ru")= __('Rusya')
                  span.each-input-choice.country-each-input-choice(id="ua")= __('Ukrayna')
            .select-input-outer-wrapper.gender-select-input
              .select-input-wrapper.gender-select-input
                input.select-input.gender-select-input(type="text" placeholder=__('Cinsiyet') autocomplete="none")
                .select-input-choices.gender-select-input
                  span.each-input-choice.gender-each-input-choice(id="both")= __('Her İkisi de')
                  span.each-input-choice.gender-each-input-choice(id="kadın")= __('Kadın')
                  span.each-input-choice.gender-each-input-choice(id="erkek")= __('Erkek')
            .birth-year-input-wrapper
              input.each-input.min-birth-year-input(type="number" placeholder=__('En Küçük Doğum Yılı'))
              input.each-input.max-birth-year-input(type="number" placeholder=__('En Büyük Doğum Yılı'))
          span.input-info #{__('Kampanyanıza katılabilecek kullanıcıları filtreleyin')}
          .continue-button
            span #{__('Devam Et')}
    .campaign-question-wrapper
      .campaign-question-create-wrapper
        span.each-input-title #{__('Soru Metnini Yazın')}:
        input.each-input#question-text-input(type="text" autocomplete="off" placeholder=__('Soru Metni'))
        span.each-input-title #{__('Soru Tipini Seçin')}:
        .question-types-wrapper
          .each-question-type-wrapper(id="radio")
            img.each-question-type-icon(src="/res/images/radio_icon.png" alt="usersmagic radio question")
            span.each-question-type #{__('Tek Seçmeli Şıklı Soru')}
          .each-question-type-wrapper(id="checked")
            img.each-question-type-icon(src="/res/images/checked_icon.png" alt="usersmagic checked question")
            span.each-question-type #{__('Çok Seçmeli Şıklı Soru')}
          .each-question-type-wrapper(id="long_text")
            img.each-question-type-icon(src="/res/images/long_text_icon.png" alt="usersmagic long text question")
            span.each-question-type #{__('Çok Satırlı Yazılı Soru')}
        .question-types-wrapper
          .each-question-type-wrapper(id="short_text")
            img.each-question-type-icon(src="/res/images/short_text_icon.png" alt="usersmagic short text question")
            span.each-question-type #{__('Tek Satırlı Yazılı Soru')}
          .each-question-type-wrapper(id="range")
            img.each-question-type-icon(src="/res/images/range_icon.png" alt="usersmagic range question")
            span.each-question-type #{__('Aralık Puanlama Sorusu')}
        .continue-button
          span #{__('Devam Et')}
      .campaign-question-content-wrapper
        .selected-question-create-wrapper
          span.each-input-title= __('Soru Seçenekleri')
          .choice-input-list-wrapper
            input.each-input.each-choice-input(type="text" placeholder=__('Seçenek'))
          span.each-input-title= __('Diğer Seçeneği')
          .other-option-button
            .other-option-selection
              i.fas.fa-check
            span #{('Diğer seçeneği ekle')}
          .create-question-button
            span= __('Ekle')
        .written-question-create-wrapper
          span.each-input-title= __('Maximum Karakter Sayısı')
          input.each-input.character-count-input(type="number" placeholder=__('Maximum Karakter Sayısı') value=0)
          .create-question-button
            span= __('Ekle')
        .range-question-create-wrapper
      .campaign-questions-outer-wrapper
        .campaign-questions-wrapper
          span.no-question-text #{__('Eklediğiniz sorular burada görünür.')}
    .campaign-filter-wrapper
      .continue-button
        span #{__('Devam Et')}
      span.filter-info= __('Kampanyanız için bir hedef kitlesi oluşturun. Sadece eklediğiniz bütün filtrelere uyan kullanıcılar kampanyanıza katılabilir. Aynı filtreyi farklı seçeneklerle birden fazla kez ekleyebilirsiniz.')
      .add-filters-button
        i.fas.fa-plus-circle
        span= __('Filtre Ekle')
      .added-filters-wrapper
        span.added-filters-text= __('Hiçbir filtre eklemediniz')
    //- .campaign-send-wrapper
