extends ../partials/head
block content
  span.dismiss-text.display-none= __('Dismiss')
  .all-wrapper
    .navigation-bar-wrapper
      img.navigation-bar-logo(src="/res/images/logo.png" alt="usersmagic tester")
      a.navigation-bar-button.selected-navigation-bar-button(href="/campaigns")
        i.fas.fa-home
      a.navigation-bar-button(href="/wallet")
        i.far.fa-credit-card
      a.navigation-bar-button(href="/profile")
        i.fas.fa-cog
    .all-content-wrapper
      .all-content-header-wrapper
        .all-content-header-text-wrapper
          span.all-content-header-title #{__('See your current campaigns')}
          span.all-content-header-subtitle #{__('See the status of your joined campaigns and filters')}
        .all-content-header-buttons-wrapper
          a.each-all-content-header-button(href="/campaigns") #{__('New')}
          a.each-all-content-header-button(href="/filters") #{__('Filters')}
          a.each-all-content-header-button.selected-all-content-header-button(href="/waiting") #{__('In Review')}
          a.each-all-content-header-button(href="/history") #{__('Complete')}
      .all-content-inner-wrapper
        if submitions && submitions.length
          .campaigns-wrapper
            each submition, i in submitions
              .each-campaign-wrapper
                .each-campaign-image-wrapper
                  img.each-campaign-image(src=submition.campaign.image alt="usersmagic " + submition.campaign.name)
                span.view-each-campaign-details-button #{__('View Details')}
                span.each-campaign-title= submition.campaign.name
                span.each-campaign-description= submition.campaign.description
                if submition.campaign.price && !submition.campaign.is_free
                  span.each-campaign-price #{currency}#{submition.campaign.price}
                else
                  span.each-campaign-private-price #{__('Özel Kampanya')}
                if submition.status == 'saved'
                  if submition.is_private_campaign
                    a.general-seablue-border-button.each-campaign-join-button(href=`/test/campaign?id=${submition._id}`)
                      span #{__('Continue')}
                  else
                    a.general-seablue-border-button.each-campaign-join-button(href=`/test/filter?id=${submition._id}`)
                      span #{__('Continue')}
                else if submition.status == 'waiting'
                  span.each-campaign-status-text #{__('Waiting for Approval')}
        else
          span.no-campaigns-text #{__('You don\'t have any submitions here, join a campaign to see your progress')}
